<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrati_admin</title>
</head>
<body>
    <div class="home">
        <label class="title"> Signup as admin</label>
        <%= form_with url: "/admin/create", method: :post do |form| %>
            <%= form.text_field :name %> 
            <%= form.text_field :surname %>
            <%= form.text_field :CF %>
            <%= form.email_field :email %>
            <%= form.password_field :password %>
            <%= form.submit "submit" %>
            <% end %> 
        
            <%= link_to "login", "/login" %>


        </form>
<% if flash[:alert] %>
  <div class="flash notice">
    <%= flash[:alert] %>
  </div>
<% end %>

    </div>
    
</body>
</html>